---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ResultCard from '../components/ResultCard.astro';
import techcrunch from '../assets/publication-logos/techcrunch.png';
import cbs from '../assets/publication-logos/cbs.png';
import forbes from '../assets/publication-logos/forbes.png';
import buildots from '../assets/client-logos/Buildots.webp';
import ox from '../assets/client-logos/OX.svg';
import pinecone from '../assets/client-logos/Pinecone.svg';
import qm from '../assets/client-logos/QM.png';
import runai from '../assets/client-logos/Runai.svg';
import wilco from '../assets/client-logos/Wilco.png';
import Footer from '../components/Footer.astro';
import Testimonials from '../components/Testimonials.astro';
import LinkButton from '../components/LinkButton.astro';

const results = [
	{
		url: 'https://techcrunch.com/2023/01/18/quantum-machines-continues-to-grow-in-spite-of-economic-uncertainity/',
		logo: techcrunch,
		date: 'January 18, 2023',
		title: 'Quantum Machines continues to grow in spite of economic uncertainity'
	},
	{
		url: 'https://www.cbsnews.com/atlanta/video/the-breakdown-looking-at-the-future-of-building-construction/#x',
		logo: cbs,
		date: 'December 27, 2022',
		title: 'The Breakdown: Looking at the future of building construction'
	},
	{
		url: 'https://www.forbes.com/sites/adrianbridgwater/2022/12/06/israeli-software-engineering-start-up-creates-simulation-training-quests/',
		logo: forbes,
		date: 'December 6, 2022',
		title: 'Israeli Software Engineering Start-Up Creates Simulation Training ‘Quests’'
	},
];

---
<Layout title="Public Relations for serious tech companies | concrete.media">
	<Header class="home-sticky-header"/>
	<main>
		<div class="hero">
			<Header inline={true} class="home-inline-header"/>
			<img class="hero-logo" src="/concrete-media.svg" />
			<h2>You’ve built something amazing. <br>We’ll help tell the world.</h2>
		</div>
		<section class="section" id="clients">
			<div class='clients-content-wrapper'>
				<h3>The most dynamic B2B tech companies turn to Concrete to promote them globally.</h3>
				<LinkButton href="/clients" type='hollow'>See all our clients</LinkButton>
			</div>
			<div class="logos">
				<a class="client" href="https://buildots.com/" target="_blank"><img src={buildots}/></a>
				<a class="client" href="https://quantum-machines.co/" target="_blank"><img src={qm}/></a>
				<a class="client" href="https://trywilco.com/" target="_blank"><img src={wilco}/></a>
				<a class="client" href="https://pinecone.io/" target="_blank"><img src={pinecone}/></a>
				<a class="client" href="https://ox.security/" target="_blank"><img src={ox}/></a>
				<a class="client" href="https://run.ai/" target="_blank"><img src={runai}/></a>
			</div>
		</section>
		<section class="section" id="results">
			<ul>
				{results.map(r => <ResultCard articleUrl={r.url} date={r.date} headline={r.title} logo={r.logo}/>)}
			</ul>
			<div class="results-desc">
				<h3>Media coverage that makes an impact</h3>
				<p class="desc-text">We specialize in maximizing the media coverage for your big announcements and in proactively creating continuous results between the major stories.</p>
			</div>
		</section>
		<Testimonials />
		<section class="section" id="team">
			<div>
				<img src="team.png"/>
				<h3>Join us</h3>
				<p class="desc-text">Join Concrete Media and do tech PR at the highest level for some of the best and brightest B2B tech companies.</p>
				<LinkButton href="https://job.westraycommunications.com" openInNewWindow={true}>See open positions</LinkButton>
			</div>
		</section>
		<Footer />
	</main>
</Layout>

<script is:inline>
	document.addEventListener('scroll', () => {
		const inlineHeader = document.querySelector('.home-inline-header');
		if (inlineHeader.getBoundingClientRect().bottom < 0) {
			document.querySelector('.home-sticky-header').classList.add('visible');
			window.visible = true;
		} else if (window.visible) {
			document.querySelector('.home-sticky-header').classList.remove('visible');
			window.visible = false;
			document.querySelector('.home-sticky-header').classList.add('invisible');
		}
	});

	document.addEventListener('animationend', (e) => {
		if (e.animationName === 'fade-out') {
			document.querySelector('.home-sticky-header').classList.remove('invisible');
		}
	});
</script>

<style>

	.home-sticky-header {
		display: none;
		top: 0;
		position: fixed !important;
		z-index: 10;
	}

	.home-sticky-header.visible {
		display: flex;
		animation: fade-in 0.3s;
	}

	.home-sticky-header.invisible {
		display: flex;
		animation: fade-out 0.3s;
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fade-out {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	.hero {
		background: linear-gradient(54.77deg, #7022FB 0%, rgba(112, 34, 251, 0) 100%), url(/hero-image.jpeg);
		background-size: cover;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}

	.hero-logo {
		width: calc(100vw - 224px);
		max-width: 1215px;
	}

	.hero h2 {
		text-align: center;
		margin: 32px  auto 74px;
		letter-spacing: -0.01em;
	}

	#clients {
		margin-top: 14px;
	}

	#clients h3 {
		margin: 0 0 32px;
	}

	.clients-content-wrapper {
		flex: 1 1 40%;
		display: flex;
		flex-direction: column;
	}

	#clients .logos {
		flex: 1 1 60%;
		display: flex;
		flex-wrap: wrap;
    	gap: 24px 32px;
		max-width: fit-content;
		justify-content: flex-end;
	}

	.client {
		background: #FAF8F5;
		border-radius: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 176px;
		height: 72px;
	}

	.client img {
		max-width: 130px;
		height: 37px;
	}

	#results :global(.result-card:nth-of-type(2)) {
		margin-left: 74px;
	}

	#results :global(.result-card:nth-of-type(3)) {
		margin-left: 148px;
	}

	#results ul {
		margin-right: 64px;
	}

	.results-desc {
		max-width: 37vw;
    	margin-left: auto;
	}

	#team {
		padding: 0 112px 96px;
		max-width: 1215px;
		margin: auto;
	}

	#team > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		flex-grow: 1;
		box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12), 0px 8px 16px rgba(0, 0, 0, 0.12);
		border-radius: 32px;
		padding-bottom: 48px;
	}

	#team img {
		width: 100%;
	}

	#team .desc-text {
		max-width: 40vw;
	}

	#team h3 {
		margin-bottom: 0;
	}

	@media screen and (max-width: 1400px) {
		
	}

</style>
