---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ResultCard from '../components/ResultCard.astro';
import techcrunch from '../assets/publication-logos/techcrunch.png';
import bloomberg from '../assets/publication-logos/bloomberg.png';
import vb from '../assets/publication-logos/vb.svg';
import buildots from '../assets/client-logos/Buildots.webp';
import forbes from '../assets/publication-logos/forbes.webp';
import akeyless from '../assets/client-logos/Akeyless.svg';
import pinecone from '../assets/client-logos/Pinecone.svg';
import qm from '../assets/client-logos/QM.webp';
import runai from '../assets/client-logos/Runai.svg';
import deepdub from '../assets/client-logos/Deepdub.svg';
import Footer from '../components/Footer.astro';
import Testimonials from '../components/Testimonials.astro';
import LinkButton from '../components/LinkButton.astro';

const results = [
	{
		articleUrl: 'https://www.bloomberg.com/news/articles/2024-03-05/microsoft-walmart-back-israel-vc-s-500-million-in-fund-raising',
		logo: bloomberg,
		publication: 'Bloomberg',
		date: 'March 5, 2024',
		headline: 'Microsoft, Walmart Back Israel VC’s $500 Million in Fund Raising',
        tags: ['highlights', 'saas', 'AI & ML', 'security', 'medtech', 'fintech']
	},
	{
		articleUrl: 'https://www.forbes.com/sites/adrianbridgwater/2024/02/29/how-to-use-a-vector-database/?sh=247b3096793d',
		logo: forbes,
		publication: 'HelpNeForbestSecurity',
		date: 'February 29, 2024',
		headline: 'How To Use A Vector Database',
	},
	{
		articleUrl: 'https://venturebeat.com/games/deepdub-adds-ai-dubbing-tech-that-can-change-a-speakers-accent/',
		logo: vb,
		publication: 'VentureBeat',
		date: 'February 29, 2024',
		headline: 'Deepdub adds AI dubbing tech that can change a speaker’s accent',
	},
	{
		articleUrl: 'https://techcrunch.com/2024/01/24/prompt-security-wants-to-make-genai-safe-for-the-enterprise/',
		logo: techcrunch,
		publication: 'TechCrunch',
		date: 'January 24, 2024',
		headline: 'Prompt Security wants to make GenAI safe for the enterprise'
	}
];

---
<Layout title="Public Relations for B2B tech companies | Concrete Media" subTitle='Concrete Media is a tech PR agency that secures high-level media coverage for some of the most dynamic B2B companies.'>
	<Header class="home-sticky-header"/>
	<main>
		<div class="hero">
			<Header inline={true} class="home-inline-header"/>
			<img class="hero-logo" src="/concrete-media.svg" alt="Concrete Media logo" />
			<h2>You’ve built something amazing. <br>We’ll help tell the world.</h2>
		</div>
		<section class="section" id="clients">
			<div class='clients-content-wrapper'>
				<h3>The most dynamic B2B tech companies turn to Concrete to promote them globally.</h3>
				<LinkButton href="/clients" type='hollow'>See all our clients</LinkButton>
			</div>
			<div class="logos">
				<a class="client" href="https://buildots.com/" target="_blank"><img src={buildots} alt="buildots logo"/></a>
				<a class="client" href="https://quantum-machines.co/" target="_blank"><img src={qm} alt="qm logo"/></a>
				<a class="client" href="https://pinecone.io/" target="_blank"><img src={pinecone} alt="pinecone logo"/></a>
				<a class="client" href="https://deepdub.ai/" target="_blank"><img src={deepdub} alt="deepdub logo"/></a>
				<a class="client" href="https://www.akeyless.io/" target="_blank"><img src={akeyless} alt="Akeyless logo"/></a>
				<a class="client" href="https://run.ai/" target="_blank"><img src={runai} alt="run:ai logo"/></a>
			</div>
		</section>
		<section class="section" id="results">
			<ul class:list={[{four: results.length == 4}]}>
				{results.map(r => <ResultCard {...r}/>)}
			</ul>
			<div class="results-desc">
				<h3>Media coverage that makes an impact</h3>
				<p class="desc-text">We specialize in maximizing the media coverage for your big announcements and in proactively creating continuous results between the major stories.</p>
				<LinkButton href="/results" type='hollow'>See more coverage</LinkButton>
			</div>
		</section>
		<Testimonials />
		<section class="section" id="team">
			<div>
				<img src="/team1.webp" alt="The team at concrete media working in the Jerusalem, Israel office of their B2B tech Public Relations agency."/>
				<h3>Join us</h3>
				<p class="desc-text">Join Concrete Media and do tech PR at the highest level for some of the best and brightest B2B companies.</p>
				<LinkButton href="http://www.careers.concrete.media/" openInNewWindow={true}>See open positions</LinkButton>
			</div>
		</section>
		<Footer />
	</main>
</Layout>

<script is:inline>
	document.addEventListener('scroll', () => {
		const inlineHeader = document.querySelector('.home-inline-header');
		if (inlineHeader.getBoundingClientRect().bottom < 0) {
			document.querySelector('.home-sticky-header').classList.add('visible');
			window.visible = true;
		} else if (window.visible) {
			document.querySelector('.home-sticky-header').classList.remove('visible');
			window.visible = false;
			document.querySelector('.home-sticky-header').classList.add('invisible');
		}
	});

	document.addEventListener('animationend', (e) => {
		if (e.animationName === 'fade-out') {
			document.querySelector('.home-sticky-header').classList.remove('invisible');
		}
	});

	// const start = parseInt(window.location.hash.replace('#', ''));
	// window.imgNumber = start || 2;
	// const hero = document.querySelector('.hero');
	// hero.style.backgroundImage = `linear-gradient(54.77deg, #7022FB 0%, rgba(112, 34, 251, 0) 100%), url(/hero-${window.imgNumber}.jpg)`;
	// document.addEventListener('keydown', (e) => {
	// 	const hero = document.querySelector('.hero');
	// 	if (e.key === 'ArrowRight') {
	// 		window.imgNumber = (window.imgNumber + 1) % 36;
	// 	} else if (e.key === 'ArrowLeft') {
	// 		window.imgNumber = (window.imgNumber - 1) % 36;
	// 	}
	// 	window.location.hash = window.imgNumber;
	// 	hero.style.backgroundImage = `linear-gradient(54.77deg, #7022FB 0%, rgba(112, 34, 251, 0) 100%), url(/hero-${window.imgNumber}.jpg)`;
	// });
</script>

<style lang='scss'>

	.home-sticky-header {
		display: none;
		top: 0;
		position: fixed !important;
		z-index: 10;
	}

	.home-sticky-header.visible {
		display: flex;
		animation: fade-in 0.3s;
	}

	.home-sticky-header.invisible {
		display: flex;
		animation: fade-out 0.3s;
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fade-out {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	.hero {
		background: linear-gradient(54.77deg, #7022FB 0%, rgba(112, 34, 251, 0) 100%), url(/hero-32.webp);
		background-size: cover;
		background-position: center;
		height: 100vh;
		height: 100svh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}

	.hero-logo {
		width: calc(100vw - 224px);
		max-width: 1215px;
	}

	.hero h2 {
		text-align: center;
		margin: 32px  auto 74px;
		letter-spacing: -0.01em;
	}

	#clients {
		margin-top: 14px;
	}

	#clients h3 {
		margin: 0 0 32px;
	}

	.clients-content-wrapper {
		flex: 1 1 40%;
		display: flex;
		flex-direction: column;
	}

	#clients .logos {
		flex: 1 1 60%;
		display: flex;
		flex-wrap: wrap;
    	gap: 24px 32px;
		max-width: fit-content;
		justify-content: flex-end;
	}

	.client {
		background: #FAF8F5;
		border-radius: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 176px;
		height: 72px;
	}

	.client img {
		max-width: 130px;
		height: 37px;
	}

	#results {
		:global(.result-card:nth-of-type(2)) {
			margin-left: 74px;
		}

		:global(.result-card:nth-of-type(3)) {
			margin-left: 148px;
		}

		ul {
			margin-right: 64px;
		}

		.results-desc {
			max-width: 37vw;
			margin-left: auto;

			.desc-text {
				margin-bottom: 48px;
			}
		}



		.four {

			@media screen and (min-width: 1051px) {
				:global(h4) {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			:global(.result-card:nth-of-type(2)) {
				margin-left: 49px;
			}

			:global(.result-card:nth-of-type(3)) {
				margin-left: 98px;
			}

			:global(.result-card:nth-of-type(4)) {
				margin-left: 147px;
			}

			:global(.result-card) {
				margin-bottom: 20px;
			}
		} 
	}



	#team {
		padding: 0 112px 96px;
		max-width: 1215px;
		margin: auto;
	}

	#team > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		flex-grow: 1;
		box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12), 0px 8px 16px rgba(0, 0, 0, 0.12);
		border-radius: 32px;
		padding-bottom: 48px;
	}

	#team img {
		width: 100%;
		border-radius: 32px 32px 0 0;
		position: relative;
	}

	#team .desc-text {
		max-width: 40vw;
	}

	#team h3 {
		margin-bottom: 0;
	}

	@media screen and (max-width: 1050px) {
		section {
			flex-direction: column;
		}

		h2, h3, p {
			text-align: center;
		}

		.hero {
			padding: 32px 16px;
		}

		.hero-logo {
			width: 100%;
		}

		.hero h2 {
			margin: 24px 0;
		}

		#clients {
			position: relative;
		}

		#clients .logos {
			gap: 16px;
			justify-content: center;
		}

		.clients-content-wrapper :global(a) {
			position: absolute;
			bottom: -32px;
			right: 0;
			left: 0;
			margin: 0 auto;
		}

		#results {
			flex-direction: column-reverse;
			position: relative;
			margin-bottom: 50px;

			:global(.result-card) {
				margin-left: 0 !important;
				width: 100%;
			}

			ul {
				margin-right: 0;
			}

			.results-desc {
				margin-left: 0;
				max-width: 100%;
			}

			.results-desc .desc-text {
				margin-bottom: revert;
			}

			.results-desc :global(a) {
				position: absolute;
				bottom: -12px;
				right: 0;
				left: 0;
				margin: 0 auto;
			}

		}

		#team {
			padding: 42px 16px;
		}

		#team .desc-text {
			max-width: 100%;
		}

		#team p {
			margin: 24px 16px;
		}
	}

	@media screen and (max-width: 400px) {
		.client {
			flex: 0 0 160px;
		}
	}

	@media screen and (max-width: 367px) {
		.client {
			flex: 0 0 156px;
		}
	}

</style>
