---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ResultCard from '../components/ResultCard.astro';
import techcrunch from '../assets/publication-logos/techcrunch.png';
import wapo from '../assets/publication-logos/WaPo.png';
import wsj from '../assets/publication-logos/wsj.png';
import buildots from '../assets/client-logos/Buildots.webp';
import qodo from '../assets/client-logos/qodo.svg';
import pinecone from '../assets/client-logos/Pinecone.svg';
import qm from '../assets/client-logos/QM.png';
import aiola from '../assets/client-logos/aiOla.png';
import noma from '../assets/client-logos/Noma.svg';
import Footer from '../components/Footer.astro';
import Testimonials from '../components/Testimonials.astro';
import LinkButton from '../components/LinkButton.astro';
import bloomberg from '../assets/publication-logos/bloomberg.png';

const results = [
	{
        url: "https://www.bloomberg.com/news/videos/2025-02-26/quantum-machines-ceo-on-most-important-tech-race-video",
        logo: bloomberg,
        publication: 'Bloomberg',
        date: 'February 26, 2025',
        headline: "Watch Quantum Machines CEO on 'Most Important Tech Race'",
        tags: ['highlights']
    },
	{
		url: "https://www.wsj.com/articles/startup-quantum-machines-raises-170-million-in-series-c-round-69affccd?mod=business_lead_story",
		logo: wsj,
		publication: 'Wall Street Journal',
		date: 'February 25, 2025',
		headline: "Startup Quantum Machines Raises $170 Million in Series C Round",
		tags: ['highlights']
	},
	{
		url: "https://techcrunch.com/2025/02/25/quantum-machines-raises-170m-says-its-working-with-more-than-half-of-all-quantum-computing-companies/",
		logo: techcrunch,
		publication: 'TechCrunch',
		date: 'February 25, 2025',
		headline: "Quantum Machines raises $170M, says it's working with more than half of all quantum computing companies",
		tags: ['highlights']
	},
	{
        url: "https://www.washingtonpost.com/technology/2025/01/31/deepseek-ai-china-us-nvidia/",
        logo: wapo,
        publication: 'Washington Post',
        date: 'January 31, 2025',
        headline: "Did DeepSeek really develop on a shoestring budget?",
        tags: ['highlights', 'AI & ML', 'saas', 'dev']
    }
];

---
<Layout title="Public Relations for B2B tech companies | Concrete Media" subTitle='Concrete Media is a tech PR agency that secures high-level media coverage for some of the most dynamic B2B companies.'>
	<Header class="home-sticky-header"/>
	<main>
		<div class="hero">
			<Header inline={true} class="home-inline-header"/>
			<svg class="hero-logo" width="1216" height="122" viewBox="0 0 1216 122" fill="none" xmlns="http://www.w3.org/2000/svg" aria-labelledby="svg-title" role="img">
				<title id="svg-title">Concrete Media logo</title>
				<path d="M845.096 117.841V70.2301C845.096 56.3718 840.633 51.2847 831.556 51.2847C821.52 51.2847 816.896 57.3408 816.896 68.9583V117.841H790.453V69.1097C790.453 57.6436 786.313 51.2746 777.236 51.2746C766.877 51.2746 762.263 57.9665 762.263 70.22V117.831H735.819V29.4627H760.506V38.8597H760.829C765.443 30.5831 773.894 26.4347 785.202 26.4347C796.511 26.4347 805.113 32.1678 810.687 42.2006C817.058 32.1678 826.619 26.4347 838.725 26.4347C858.474 26.4347 871.54 38.5367 871.54 63.2151V117.831H845.096V117.841ZM1048.25 73.2581C1048.25 86.319 1038.54 96.0289 1025.64 96.0289C1012.73 96.0289 1003.49 86.6319 1003.49 73.2581C1003.49 59.8843 1013.37 51.1232 1025.8 51.1232C1038.86 51.1232 1048.25 60.9946 1048.25 73.2581ZM1073.26 117.841V0H1046.82V36.9419C1039.33 29.4526 1031.05 26.4347 1020.85 26.4347C995.043 26.4347 977.05 46.9748 977.05 73.4095C977.05 99.8442 994.568 120.707 1021.33 120.707C1033.92 120.707 1042.84 116.407 1047.78 108.282H1048.1V117.841H1073.27H1073.26ZM1084.48 117.841H1110.92V29.4627H1084.48V117.841ZM1084.48 20.0657H1110.92V0H1084.48V20.0657ZM1188.57 73.571C1188.57 86.3089 1178.85 96.1803 1166.42 96.1803C1154 96.1803 1144.44 86.1474 1144.44 73.8839C1144.44 61.6204 1154.01 51.1131 1166.11 51.1131C1178.22 51.1131 1188.58 61.146 1188.58 73.571M1215.02 117.841V29.4627H1188.58V38.8597H1188.26C1183.16 30.7345 1173.13 26.4347 1162.3 26.4347C1136.97 26.4347 1118.01 47.4593 1118.01 73.571C1118.01 99.6827 1136.17 120.869 1162.3 120.869C1173.93 120.869 1184.44 116.095 1188.26 108.292H1188.58V117.851H1215.02V117.841ZM925.022 48.8017C915.43 48.8017 907.12 54.555 905.051 63.9721H945.316C943.236 54.8679 935.25 48.8017 925.022 48.8017ZM963.581 99.8644C954.504 113.329 940.874 121.01 925.496 121.01C899.932 121.01 878.516 100.399 878.516 74.0454C878.516 47.6914 898.972 26.4448 925.012 26.4448C951.051 26.4448 971.83 47.3685 971.83 74.8428C971.83 77.3964 971.669 79.4756 971.194 81.8678H904.727C906.161 91.9309 914.632 98.6431 925.496 98.6431C932.685 98.6431 937.32 95.9279 941.631 90.3362L963.571 99.8644H963.581ZM728.863 104.972C728.863 96.8363 722.269 90.2453 714.131 90.2453C705.994 90.2453 699.4 96.8363 699.4 104.972C699.4 113.107 705.994 119.698 714.131 119.698C722.269 119.698 728.863 113.107 728.863 104.972Z" fill="white"/>
				<path d="M145.14 120.839C118.122 120.839 97.3425 100.864 97.3425 73.6923C97.3425 46.5208 118.606 26.5459 145.14 26.5459C171.675 26.5459 192.938 46.5208 192.938 73.3693C192.938 100.218 171.836 120.829 145.14 120.829V120.839ZM166.404 73.6923C166.404 61.8628 157.448 51.3152 144.989 51.3152C133.317 51.3152 123.887 61.5398 123.887 73.6923C123.887 85.8448 133.156 96.0694 145.151 96.0694C157.145 96.0694 166.414 85.5218 166.414 73.6923H166.404Z" fill="white"/>
				<path d="M255.488 118.123V68.9079C255.488 56.9169 251.328 51.3251 241.574 51.3251C230.862 51.3251 226.389 57.2399 226.389 69.2208V118.123H199.855V29.4224H224.632V38.8497H224.955C230.549 29.7454 238.384 26.3843 249.096 26.3843C265.08 26.3843 282.032 35.3371 282.032 61.5397V118.113H255.498L255.488 118.123Z" fill="white"/>
				<path d="M388.027 118.123V29.4224H412.966V38.8497H413.289C417.924 29.4224 425.284 26.3843 435.512 26.3843V53.0713C419.681 53.2328 414.572 59.1475 414.572 69.2107V118.113H388.037L388.027 118.123Z" fill="white"/>
				<path d="M356.172 84.4011H355.92C351.922 92.0721 345.692 96.2306 336.736 96.2306C324.428 96.2306 315.634 86.6419 315.634 73.7021C315.634 60.7623 323.944 51.1736 336.1 51.1736C345.106 51.1736 351.922 55.2412 355.779 63.3563L379.223 53.1721C371.428 36.6592 354.961 26.4043 335.464 26.4043C309.889 26.4043 288.948 47.0151 288.948 73.5507C288.948 100.086 309.727 121.01 335.949 121.01C355.001 121.01 371.459 110.876 379.375 94.4845L356.182 84.4112L356.172 84.4011Z" fill="white"/>
				<path d="M67.2341 84.4011H66.9817C62.9834 92.0721 56.7537 96.2306 47.7979 96.2306C35.49 96.2306 26.6958 86.6419 26.6958 73.7021C26.6958 60.7623 35.0054 51.1736 47.1618 51.1736C56.1681 51.1736 62.9834 55.2412 66.8403 63.3563L90.285 53.1721C82.4903 36.6592 66.0225 26.4043 46.5257 26.4043C20.9406 26.3942 0 47.005 0 73.5305C0 100.056 20.7791 120.99 47.0003 120.99C66.0528 120.99 82.5105 110.856 90.4263 94.4643L67.2341 84.391V84.4011Z" fill="white"/>
				<path d="M500.788 90.3162C496.476 95.908 491.832 98.6231 484.643 98.6231C473.769 98.6231 465.298 91.911 463.864 81.8478H530.361C530.846 79.4456 530.997 77.3764 530.997 74.8127C530.997 47.3283 510.693 26.3945 484.158 26.3945C457.624 26.3945 437.643 48.4487 437.643 74.0153C437.643 99.582 459.068 121 484.643 121C500.02 121 513.661 113.329 522.738 99.8545L500.788 90.3162ZM484.158 48.7616C494.386 48.7616 502.383 54.8378 504.463 63.9421H464.177C466.257 54.5148 474.567 48.7616 484.158 48.7616Z" fill="white"/>
				<path d="M576.109 121C552.261 121 538.024 107.031 538.024 83.6342V11.7993H563.862V30.5933H594.667V52.5465H563.862V82.9176C563.862 92.2338 569.294 97.8054 578.401 97.8054C583.682 97.8054 590.103 96.0996 594.021 93.6469L594.667 93.2432V116.579L594.475 116.7C589.528 119.87 581.491 120.99 576.119 120.99L576.109 121Z" fill="white"/>
				<path d="M664.203 90.3162C659.892 95.908 655.247 98.6231 648.059 98.6231C637.184 98.6231 628.713 91.911 627.28 81.8478H693.777C694.261 79.4456 694.413 77.3764 694.413 74.8127C694.413 47.3283 674.108 26.3945 647.574 26.3945C621.04 26.3945 601.058 48.4487 601.058 74.0153C601.058 99.582 622.484 121 648.059 121C663.436 121 677.077 113.329 686.154 99.8545L664.203 90.3162ZM647.574 48.7616C657.802 48.7616 665.799 54.8378 667.878 63.9421H627.593C629.673 54.5148 637.982 48.7616 647.574 48.7616Z" fill="white"/>
			</svg>
			<h2>You’ve built something amazing. <br>We’ll help tell the world.</h2>
		</div>
		<section class="section" id="clients">
			<div class='clients-content-wrapper'>
				<h3>The most dynamic B2B tech companies turn to Concrete to promote them globally.</h3>
				<LinkButton href="/clients" type='hollow'>See all our clients</LinkButton>
			</div>
			<div class="logos">
				<a class="client" href="https://buildots.com/" target="_blank"><img src={buildots.src} alt="buildots logo"/></a>
				<a class="client" href="https://quantum-machines.co/" target="_blank"><img src={qm.src} alt="qm logo"/></a>
				<a class="client" href="https://pinecone.io/" target="_blank"><img src={pinecone.src} alt="pinecone logo"/></a>
				<a class="client" href="https://aiola.com/" target="_blank"><img src={aiola.src} alt="aiola logo"/></a>
				<a class="client" href="https://www.qodo.ai/" target="_blank"><img src={qodo.src} alt="Qodo logo"/></a>
				<a class="client" href="https://noma.security/" target="_blank"><img src={noma.src} alt="nomasec logo"/></a>
			</div>
		</section>
		<section class="section" id="results">
			<ul class:list={[{four: results.length == 4}]}>
				{results.map(r => <ResultCard {...r}/>)}
			</ul>
			<div class="results-desc">
				<h3>Media coverage that makes an impact</h3>
				<p class="desc-text">We specialize in maximizing the media coverage for your big announcements and in proactively creating continuous results between the major stories.</p>
				<LinkButton href="/results" type='hollow'>See more coverage</LinkButton>
			</div>
		</section>
		<Testimonials />
		<section class="section" id="team">
			<div>
				<img src="/team1.webp" alt="The team at concrete media working in the Jerusalem, Israel office of their B2B tech Public Relations agency."/>
				<h3>Join us</h3>
				<p class="desc-text">Join Concrete Media and do tech PR at the highest level for some of the best and brightest B2B companies.</p>
				<LinkButton href="/join-us">See open positions</LinkButton>
			</div>
		</section>
		<Footer />
	</main>
</Layout>

<script defer is:inline>
	document.addEventListener('scroll', () => {
		const inlineHeader = document.querySelector('.home-inline-header');
		if (inlineHeader.getBoundingClientRect().bottom < 0) {
			document.querySelector('.home-sticky-header').classList.add('visible');
			window.visible = true;
		} else if (window.visible) {
			document.querySelector('.home-sticky-header').classList.remove('visible');
			window.visible = false;
			document.querySelector('.home-sticky-header').classList.add('invisible');
		}
	});

	document.addEventListener('animationend', (e) => {
		if (e.animationName === 'fade-out') {
			document.querySelector('.home-sticky-header').classList.remove('invisible');
		}
	});
</script>

<style lang='scss'>

	.home-sticky-header {
		display: none;
		top: 0;
		position: fixed !important;
		z-index: 10;
	}

	.home-sticky-header.visible {
		display: flex;
		animation: fade-in 0.3s;
	}

	.home-sticky-header.invisible {
		display: flex;
		animation: fade-out 0.3s;
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fade-out {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	.hero {
		background: linear-gradient(54.77deg, #7022FB 0%, rgba(112, 34, 251, 0) 100%), url(/hero-32.webp);
		background-size: cover;
		background-position: center;
		height: 100vh;
		height: 100svh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}

	.hero-logo {
		width: calc(100vw - 224px);
		max-width: 1215px;
	}

	.hero h2 {
		text-align: center;
		margin: 32px  auto 74px;
		letter-spacing: -0.01em;
	}

	#clients {
		margin-top: 14px;
	}

	#clients h3 {
		margin: 0 0 32px;
	}

	.clients-content-wrapper {
		flex: 1 1 40%;
		display: flex;
		flex-direction: column;
	}

	#clients .logos {
		flex: 1 1 60%;
		display: flex;
		flex-wrap: wrap;
    	gap: 24px 32px;
		max-width: fit-content;
		justify-content: flex-end;
	}

	.client {
		background: #FAF8F5;
		border-radius: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 176px;
		height: 72px;
	}

	.client img {
		max-width: 130px;
		height: 37px;
	}

	#results {
		:global(.result-card:nth-of-type(2)) {
			margin-left: 74px;
		}

		:global(.result-card:nth-of-type(3)) {
			margin-left: 148px;
		}

		ul {
			margin-right: 64px;
		}

		.results-desc {
			max-width: 37vw;
			margin-left: auto;

			.desc-text {
				margin-bottom: 48px;
			}
		}



		.four {

			@media screen and (min-width: 1051px) {
				:global(h4) {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			:global(.result-card:nth-of-type(2)) {
				margin-left: 49px;
			}

			:global(.result-card:nth-of-type(3)) {
				margin-left: 98px;
			}

			:global(.result-card:nth-of-type(4)) {
				margin-left: 147px;
			}

			:global(.result-card) {
				margin-bottom: 20px;
			}
		} 
	}



	#team {
		padding: 0 112px 96px;
		max-width: 1215px;
		margin: auto;
	}

	#team > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		flex-grow: 1;
		box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12), 0px 8px 16px rgba(0, 0, 0, 0.12);
		border-radius: 32px;
		padding-bottom: 48px;
	}

	#team img {
		width: 100%;
		border-radius: 32px 32px 0 0;
		position: relative;
	}

	#team .desc-text {
		max-width: 40vw;
	}

	#team h3 {
		margin-bottom: 0;
	}

	@media screen and (max-width: 1050px) {
		section {
			flex-direction: column;
		}

		h2, h3, p {
			text-align: center;
		}

		.hero {
			padding: 32px 16px;
		}

		.hero-logo {
			width: 100%;
		}

		.hero h2 {
			margin: 24px 0;
		}

		#clients {
			position: relative;
		}

		#clients .logos {
			gap: 16px;
			justify-content: center;
		}

		.clients-content-wrapper :global(a) {
			position: absolute;
			bottom: -32px;
			right: 0;
			left: 0;
			margin: 0 auto;
		}

		#results {
			flex-direction: column-reverse;
			position: relative;
			margin-bottom: 50px;

			:global(.result-card) {
				margin-left: 0 !important;
				width: 100%;
			}

			ul {
				margin-right: 0;
			}

			.results-desc {
				margin-left: 0;
				max-width: 100%;
			}

			.results-desc .desc-text {
				margin-bottom: revert;
			}

			.results-desc :global(a) {
				position: absolute;
				bottom: -12px;
				right: 0;
				left: 0;
				margin: 0 auto;
			}

		}

		#team {
			padding: 42px 16px;
		}

		#team .desc-text {
			max-width: 100%;
		}

		#team p {
			margin: 24px 16px;
		}
	}

	@media screen and (max-width: 400px) {
		.client {
			flex: 0 0 160px;
		}
	}

	@media screen and (max-width: 367px) {
		.client {
			flex: 0 0 156px;
		}
	}

</style>
