---
import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';
import '@fontsource/inter/600.css';
import '@fontsource/outfit/600.css';

export interface Props {
	title: string;
	subTitle: string;
	canonicalUrl?: string;
	noIndex?: boolean;
}

const { title, subTitle, canonicalUrl, noIndex } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		{canonicalUrl && <link rel="canonical" href={canonicalUrl} />}
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={subTitle}>
		<meta property="og:description" content={subTitle}>
		<meta property="og:title" content={title}>
		<meta property="og:image" content="https://concrete.media/social1.png">
		<meta property="og:site_name" content="Concrete Media">
		{noIndex && <meta name="robots" content="noindex" />}
		<title>{title}</title>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-X678N0MN5C"></script>
		<script is:inline>
			// @ts-nocheck
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-X678N0MN5C');
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	body {
		margin: 0;
	}

	body:has(.mobile-open) {
		overflow: hidden;
	}

	* {
		box-sizing: border-box;
	}

	h2 {
		font-weight: 600;
		font-size: 64px;
		color: white;
		font-family: 'Outfit';
		line-height: 115%;
	}

	h3 {
		font-family: 'Outfit';
		font-weight: 600;
		font-size: 48px;
		line-height: 115%;
		letter-spacing: -0.01em;
		color: #7022FB;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	section {
		display: flex;
		padding: 84px max(calc((100vw - 1216px)/2), 48px);
		align-items: center;
		width: 100vw;
	}

	.desc-text {
		font-family: 'Inter';
		font-size: 24px;
		line-height: 145%;
		color: rgba(0, 0, 0, 0.6);
	}

	@media screen and (max-width: 1400px) {
		h2 {
			font-size: 48px;
		}
	}

	@media screen and (max-width: 1050px) {
		h3 {
			font-size: 32px;
		}

		h2 {
			font-size: 24px;
		}

		section {
			padding: 32px 16px;
		}

		.desc-text {
			font-size: 20px;
		}
	}
</style>
